In [14]:
#5-1
list_ex=[10,20,30,40,50,60,70]
high=5
low=3
list_ex[2*3]
list_ex[low+2]
list_ex[high-low]
list_ex[low-high]
list_ex[-1]
list_ex[-low]
list_ex[2*3]
list_ex[2]*3
list_ex[5%4]
len(list_ex)

7

In [18]:
#5-2
spell=['s','w','e','e','t']
spell
spell[3]='a'
spell
spell[4]='r'
spell
spell*2

['s', 'w', 'e', 'a', 'r', 's', 'w', 'e', 'a', 'r']

In [20]:
#5-3
list1=[3,5,7]
list2=[2,3,4,5,6]
for i in list1:
    for j in list2:
        print('{}*{}='.format(i,j),i*j)

3*2= 6
3*3= 9
3*4= 12
3*5= 15
3*6= 18
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
7*2= 14
7*3= 21
7*4= 28
7*5= 35
7*6= 42

In [59]:
#5-4
a=[2,3,4,5,6]
rev_a=[]
list=len(a)
for i in range(list):
    rev_a.append(a.pop())
print('rev_a=',rev_a)

rev_a= [6, 5, 4, 3, 2]

In [44]:
#5-5
list1=['I like','I love']
list2=['pancakes.','kiwi juice.','espresso.']
print(list1[0],list2[0])
print(list1[0],list2[1])
print(list1[0],list2[2])
print(list1[1],list2[0])
print(list1[1],list2[1])
print(list1[1],list2[2])

I like pancakes.
I like kiwi juice.
I like espresso.
I love pancakes.
I love kiwi juice.
I love espresso.

In [51]:
#5-6
list1=[2,3,4,1,32]
max(list1)
sum(list1)
list1.remove(32)
list1
list1.reverse()
list1
list1.sort()
list1

[1, 2, 3, 4]

In [55]:
#5-7
n_list=[10,20,30,50,60]
print('리스트 원소들 :',n_list)
s=0
for i in n_list:
    s=s+i
print('리스트 원소들의 합:',s)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 합: 170

In [57]:
#5-8
n_list=[10,20,30,50,60]
s=1
for i in n_list:
    s=s*i
print('리스트 원소들:',n_list)
print('리스트 원소들의 곱:', s)

리스트 원소들: [10, 20, 30, 50, 60]
리스트 원소들의 곱: 18000000

In [60]:
#5-9
n_list=[10,20,30,50,60]
n_list.sort()
print('리스트 원소들:',n_list)
print('리스트 원소들 중 최댓값:', n_list[-1])

리스트 원소들: [10, 20, 30, 50, 60]
리스트 원소들 중 최댓값: 60

In [62]:
#5-10
n_list=[10,20,30,50,60]
n_list.sort()
print('리스트 원소들:',n_list)
print('리스트 원소들 중 최솟값:', n_list[0])

리스트 원소들: [10, 20, 30, 50, 60]
리스트 원소들 중 최솟값: 10

In [4]:
#5-11
num1,num2,num3,num4,num5=map(int,input('5개의 수를 입력하세요:').split())
list1=[num1,num2,num3,num4,num5]
print('합:',sum(list1))
print('평균:',sum(list1)/len(list1))
print('최댓값:',max(list1))
print('최솟값:',min(list1))

5개의 수를 입력하세요:45 67 20 34 2
합: 168
평균: 33.6
최댓값: 67
최솟값: 2

In [8]:
#5-12
n=int(input('n을 입력하세요 :'))
a=list(map(int,input('n개의 수를 입력하세요:').split()))
print('합:',sum(a))
print('평균:',sum(a)/n)
print('최댓값:',max(a))
print('최솟값:',min(a))

n을 입력하세요 :10
n개의 수를 입력하세요:34 56 7 9 23 10 2 30 3 28
합: 202
평균: 20.2
최댓값: 56
최솟값: 2

In [22]:
#5-13
a=list(map(int,input('n개의 수를 입력하세요:').split()))
print('합:',sum(a))
print('평균:',sum(a)/len(a))
s=0
for i in a:
    s=s+(i-sum(a)/len(a))**2
    
print('표준편차 :',(s/len(a))**0.5 )

n개의 수를 입력하세요:45 67 20 34 2 100 23 45 67 89
합: 492
평균: 49.2
표준편차 : 29.71800800861323

In [28]:
#5-14 
spell=list('happy birthday')
spell[1:5]
spell[:]
spell[:5]
spell[6:]
spell[:2]+spell[9:]

['h', 'a', 't', 'h', 'd', 'a', 'y']

In [34]:
#5-15
greet='Have a beautiful day.'
greet[0:4]
greet[7:16]
greet[17:20]

'day'

In [43]:
#5-16
s='Birthday'
s[:5]
s[5:]
s[1:-1]
s[::-1]
'day' in s
'birth' in s
'Birth' in s
'Birth' not in s

False

In [46]:
#5-17.1
animal=['dog','cat','tiger','lion']
print('animal=',animal)

#5-17.2
animal.remove('dog')
animal.insert(3,'dog')
print('animal=',animal)

#5-17.3
print('animal=',animal)
for i in animal:
    print('I love',i)

animal= ['dog', 'cat', 'tiger', 'lion']
animal= ['cat', 'tiger', 'lion', 'dog']
animal= ['cat', 'tiger', 'lion', 'dog']
I love cat
I love tiger
I love lion
I love dog

In [57]:
#5-18.1
s_list=['abc','bcd','bcdefg','abba','cddc','opq']

#5-18.2

In [52]:
#5-19
s_list=['abc','bcd','abc','abba','cddc','opq','opq']
new_list=[]
for i in s_list:
    if i not in new_list:
        new_list.append(i)
print('s_list=',s_list)
print('new_list=',new_list)

s_list= ['abc', 'bcd', 'abc', 'abba', 'cddc', 'opq', 'opq']
new_list= ['abc', 'bcd', 'abba', 'cddc', 'opq']

In [58]:
#5-20
src='aaaabbb'

In [66]:
#6.1
price={'김밥':5000,'어묵':3000,'떡볶이':2000}
price['김밥']
price['김밥']=6000
price
price.values()
price.keys()
print('이 식당의 메뉴 개수는',len(price),'개 입니다.')

이 식당의 메뉴 개수는 3 개 입니다.

In [75]:
#6.2
price={'김밥':5000,'어묵':3000,'떡볶이':2000}
price['순대']=4500
price
a=price['순대']
print('순대의 가격은 {}원입니다'.format(a))
n=len(price)
print('이 식당의 메뉴 개수는 {}개 입니다.'.format(n))

순대의 가격은 4500원입니다
이 식당의 메뉴 개수는 4개 입니다.

In [94]:
#6.3

menu={'Americano':3000,'Ice Americano':3500,'Cappuccino':4000,'Caffe Latte':4500,'Esspresso':3600}
for key in menu:
    print('%-15s'%key, '가격:',menu.get(key))
a=input('위의 메뉴중 하나를 선택하세요 : ')
if a in menu:
    print('{}는 {}원 입니다. 결제를 부탁합니다.'.format(a,menu.get(a)))
else:
    print('미안합니다. {}는 메뉴에 없습니다.'.format(a))

Americano       가격: 3000
Ice Americano   가격: 3500
Cappuccino      가격: 4000
Caffe Latte     가격: 4500
Esspresso       가격: 3600
위의 메뉴중 하나를 선택하세요 : Americano
Americano는 3000원 입니다. 결제를 부탁합니다.

In [101]:
#6.4
t=(10,20,30,40)

t[0]=0

TypeError: 'tuple' object does not support item assignment

In [107]:
#6.5
t=(10,20,30,40,50,60)
t[0]
t[0:2]
t[1:]
t[:3]
t[1::2]
t[::-1]

(60, 50, 40, 30, 20, 10)

In [115]:
#6.6
t1='a','b','c'
t2=('a','b','c')
t3=('d','e')
t1==t2
t2+t3

my_list=[]
for x in t1:
    my_list.append(x)
my_list

[x for x in t1]

my_list=[]
for x in t1:
    for y in t3:
        my_list.append(x+y)
my_list

[x+y for x in t1 for y in t3]

['ad', 'ae', 'bd', 'be', 'cd', 'ce']

In [ ]:
#6.7
매출=(100,121,130,140,120,122,123,190,125)
while

In [ ]:
#6.8
tup=(1,2,5,4,3,2,9,1,4,7,8,9,9)
dup=set()

In [116]:
#6.9
t1=(1,2,5,4,3,2,1,4,7,8,9,9,3,7,3)
print('주어진 튜플:',t1)
t2=set(t1)
t3=tuple(t2)
print('중복 제거 튜플:',t3)

주어진 튜플: (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)
중복 제거 튜플: (1, 2, 3, 4, 5, 7, 8, 9)

In [155]:
#6.10
t1=(1,2,5,4,3,2,1,4,7,8,9,9,3,7,3)
print('주어진 튜플은:',t1)
t2=set(t1)
t3={}
for i in t2:
    t3[i]=t1.count(i)

print('가장 많이 나타나는 요소는 :',)    #값으로 키 값 찾기.., 어떻게 하지..?

주어진 튜플은: (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)
가장 많이 나타나는 요소는 :