In [1]:
#5-1.1
even_list=[2,4,6,8,10]
print(even_list)

[2, 4, 6, 8, 10]

In [2]:
#5-1.2
even_list=list(range(2,11,2))
print(even_list)

[2, 4, 6, 8, 10]

In [8]:
#5-1.3
nations=['Korea','China','India','Nepal']
print('nations =',nations)

nations = ['Korea', 'China', 'India', 'Nepal']

In [9]:
#5-1.4
friends=['현빈','원빈','승희','아린','미미']
print('friends =',friends)

friends = ['현빈', '원빈', '승희', '아린', '미미']

In [10]:
#5-1.5
string=list('xyz')
print('string =',string)

string = ['x', 'y', 'z']

In [14]:
#5-2.1
prime_list=[]
for i in range(1,11):
    for j in range(2,i+1):
        if i==j:
            prime_list.append(i)
        elif i%j==0:
            break
print('prime_list =',prime_list[0])

#5-2.2
print('prime_list의 마지막 원소 :',prime_list[3])

#5-2.3'
print('prime_list의 마지막 원소 :',prime_list[-1])

prime_list = 2
prime_list의 마지막 원소 : 7
prime_list의 마지막 원소 : 7

In [16]:
#5-2.4
nations=['Korea','China','Russia','Malaysia']
print('nations의 첫 원소 :',nations[0])

#5-2.5
print('nations의 마지막 원소:',nations[-1])

#5-2.6
print('nations의 마지막 원소:',nations[len(nations)-1])

nations의 첫 원소 : Korea
nations의 마지막 원소: Malaysia
nations의 마지막 원소: Malaysia

In [20]:
#5-3.1
prime_list=[]
for i in range(1,11):
    for j in range(2,i+1):
        if i==j:
            prime_list.append(i)
        elif i%j==0:
            break
print('소수 목록:',prime_list)
prime_list.append(11)
print('추가 후 소수 목록:',prime_list)

#5-3.2
print('삭제 전 소수 목록:',prime_list)
prime_list.remove(3)
print('삭제 후 소수 목록:',prime_list)

소수 목록: [2, 3, 5, 7]
추가 후 소수 목록: [2, 3, 5, 7, 11]
삭제 전 소수 목록: [2, 3, 5, 7, 11]
삭제 후 소수 목록: [2, 5, 7, 11]

In [26]:
#5-3.3
nations=['Korea','China','Russia','Malaysia']
print('국가 목록:',nations)
nations.append('Nepal')
print('추가 후 국가 목록:',nations)

#5-3.4
if 'Japan' in nations:
    print('Japan는(은) 국가 목록에 있습니다.')
else:
    print('Japan는(은) 국가 목록에 없습니다.')
if 'Russia' in nations:
    print('Russia는(은) 국가 목록에 있습니다.')
else:
    print('Russia는(은) 국가 목록에 없습니다.')

국가 목록: ['Korea', 'China', 'Russia', 'Malaysia']
추가 후 국가 목록: ['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']
Japan는(은) 국가 목록에 없습니다.
Russia는(은) 국가 목록에 있습니다.

In [36]:
#5-4.1
prime_list=[]
for i in range(1,11):
    for j in range(2,i+1):
        if i==j:
            prime_list.append(i) 
        elif i%j==0:
            break
print('1에서 10까지의 소수 :',prime_list)            
print('최솟값 :',min(prime_list))
print('최솟값 :',max(prime_list))
print('합계 :',sum(prime_list))
print('평균 :',sum(prime_list)/len(prime_list))

1에서 10까지의 소수 : [2, 3, 5, 7]
최솟값 : 2
최솟값 : 7
합계 : 17
평균 : 4.25

In [37]:
#5-4.2
nations=['Korea','China','Russia','Malaysia']
print('국가 목록 :',nations)
print('사전에 가장 먼저 나오는 나라:',min(nations))
print('사전에 가장 뒤에 나오는 나라:',max(nations))

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
사전에 가장 먼저 나오는 나라: China
사전에 가장 뒤에 나오는 나라: Russia

In [38]:
#5-5.1
a=[1,2,3]
b=[10,20,30]
a.append(b)
a

[1, 2, 3, [10, 20, 30]]

In [40]:
#5-5.1(2)
a=[1,2,3]
b=[10,20,30]
a.extend(b)
a

[1, 2, 3, 10, 20, 30]

In [51]:
#5-5.2
nlist=list(range(1,11))
print('nlist=',nlist)
#5-5.3
nlist.insert(0,0)
print('nlist=',nlist)
#5-5.4
nlist.sort(reverse=True)
print('nlist=',nlist)
#5-5.5
print('마지막 원소=',nlist.pop(-1))
print('nlist=',nlist)

nlist= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist= [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
마지막 원소= 0
nlist= [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
#5-6
n=int(input('반복할 정수를 입력하시오:'))
a=[1,2,3]
print(a*n)

반복할 정수를 입력하시오:4
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [63]:
#5-7.1
n_list=list(range(15))
print('n_list=',n_list)

#5-7.2
s_list1=n_list[:5]
print('s_list1=',s_list1)
s_list2=n_list[5:11]
print('s_list2=',s_list2)
s_list3=n_list[11:15]
print('s_list3=',s_list3)
s_list4=n_list[2:11:2]
print('s_list4=',s_list4)
s_list5=n_list[10:5:-1]
print('s_list5=',s_list5)
s_list6=n_list[10:1:-2]
print('s_list6=',s_list6)

n_list= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
s_list1= [0, 1, 2, 3, 4]
s_list2= [5, 6, 7, 8, 9, 10]
s_list3= [11, 12, 13, 14]
s_list4= [2, 4, 6, 8, 10]
s_list5= [10, 9, 8, 7, 6]
s_list6= [10, 8, 6, 4, 2]

In [64]:
#6-1.1

capital_dic={'Korea':'Seoul','China':'Beijing','USA':'Washington DC'}

capital_dic['Korea']

capital_dic['China']

capital_dic['USA']

'Washington DC'

In [69]:
#6-1.2
fruits_dic={'apple':5000,'banana':4000,'grape':5300,'melon':6500}
print('apple의 가격은 {}원입니다'.format(fruits_dic.get('apple')))
print('banana의 가격은 {}원입니다'.format(fruits_dic.get('banana')))
print('grape의 가격은 {}원입니다'.format(fruits_dic.get('grape')))
print('melon의 가격은 {}원입니다'.format(fruits_dic.get('melon')))

apple의 가격은 5000원입니다
banana의 가격은 4000원입니다
grape의 가격은 5300원입니다
melon의 가격은 6500원입니다

In [72]:
#6-2.1  딕셔너리 항목 추가
person={'이름':'홍길동','나이':26,'몸무게':82}
person['특기']='분신술'
print(person)
#6-2.2
person['아버지']='홍판서'
print(person)
#6-2.3    딕셔너리 항목 삭제
del person['나이']  
print(person)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술'}
{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}
{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

In [80]:
#6-3
capital_dic={'Korea':'Seoul','China':'Beijing','USA':'Washington DC'}
'Korea' in capital_dic
'China' in capital_dic
'Idonesia' in capital_dic
'Beijing' in capital_dic

False

In [88]:
#6-4.1
fruits_dic={'apple':6000,'melon':3000,'banana':5000,'grape':7000}
print(fruits_dic.keys())
#6-4.2
print(fruits_dic.values())
#6-4.3
fruits_dic.pop('apple')
print(fruits_dic)
#6-4.4   
fruits_dic.clear()
print(fruits_dic)

dict_keys(['apple', 'melon', 'banana', 'grape'])
dict_values([6000, 3000, 5000, 7000])
{'melon': 3000, 'banana': 5000, 'grape': 7000}
{}

In [95]:
#6-5.1
fruits_dic={'apple':6000,'melon':3000,'banana':5000,'orange':4000}
print(list(fruits_dic.keys()))

#6-5.2
print(list(fruits_dic.values()))


#6-5.3
print('fruits_dic 딕셔너리의 항목의 개수:',len(fruits_dic))

#6-5.4
if 'mango' in fruits_dic:
    print('mango is in fruits_dic')
else:
    print('mango is not in fruits_dic')
if 'apple' in fruits_dic:
    print('apple is in fruits_dic')
else:
    print('apple is not in fruits_dic')

['apple', 'melon', 'banana', 'orange']
[6000, 3000, 5000, 4000]
fruits_dic 딕셔너리의 항목의 개수: 4
mango is not in fruits_dic
apple is in fruits_dic

In [100]:
#6-6.1
the_day=(1919,3,1)
year,month,day=the_day
print(f'{year}년 {month}월 {day}일은 삼일절입니다.')

#6-6.2
list1=[1,2,3]
a,b,c=tuple(list1)
a,c=c,a
print('a=',a)
print('b=',b)
print('c=',c)

1919년 3월 1일은 삼일절입니다.
a= 3
b= 2
c= 1

In [112]:
#6-7.1
person=('홍길동',2019001,179)

#6-7.2
person[1]=2019003


#6-7.3
list1=list(person)
list1[1]=2019003
person=tuple(list1)
print('학적 변동 후 person=',person)

학적 변동 후 person= ('홍길동', 2019003, 179)

In [120]:
#6-8.1

x=int(input('x='))
y=int(input('y='))
def square(x,y):
    x_sq=x**2
    y_sq=y**2
    return x_sq,y_sq
x_sq,y_sq=square(x,y)
print('{}제곱 = {},{}제곱 = {}'.format(x,x_sq,y,y_sq))


#6-8.2
print('Hello'*3)
print(('Hello',)*3)

x=10
y=20
10제곱 = 100,20제곱 = 400
HelloHelloHello
('Hello', 'Hello', 'Hello')

In [124]:
#6-9.1
lst=['apple','mango','banana']
s1=set(lst)
print('lst=',lst)
print('s1=',s1)
#6-9.2
greet='Good aprternoon'
s2=set(greet)
print('greet=',greet)
print('s2=',s2)

lst= ['apple', 'mango', 'banana']
s1= {'banana', 'mango', 'apple'}
greet= Good aprternoon
s2= {'n', 'o', 'p', 't', ' ', 'a', 'e', 'd', 'r', 'G'}

In [131]:
#6-10
s1={10,20,30,40}
s2={30,40,50,60,70}
s1|s2
s1&s2
s1-s2
s1^s2
s1.issubset(s2)
s1.issuperset(s2)
s1.isdisjoint(s2)

False